{% extends 'header.html' %}

{% load static %}

{% block cuerpo %}

		<div class="wrapper-pad">
			{% if id == 0 %}
				<h2>Nuevo producto</h2>
			{% else %}
				<h2>Modificacion Producto (ID {{ id }})</h2>
			{% endif %}

			<div class="center">
				<div class="form-group"></div>
					<form method="post" action="" name="new-producto" enctype='multipart/form-data'>
						{% csrf_token %}
						<br>
						{{ form.as_p }}
						<br>
						<input type="submit" name="producto-submit" class="ni btn blue" value="Guardar datos" />
						<br><br>
					</form>
				</div>
			</div>
		</div>
		
		<div class="clear" style="margin-bottom:40px;"></div>
		<div class="border" style="margin-bottom:30px;"></div>


{% endblock %}


