{% extends 'header.html' %}

{% load static %}

{% block cuerpo %}

<div class="wrapper-pad">
	<h2>Productos</h2>

	<div id="table-head">
		<div class="fright" style="height:5px; margin-right:55px;"></div>
			{% if datos.0 == 1 or datos.0 == 2 %}
				<a href="" name="delete-all" class="btn red disabled fright"><i class="fa fa-close"></i>Eliminar</a>
			{% endif %}
			<a href="" name="check-out-all" class="btn blue disabled fright"><i class="fa fa-arrow-up"></i>Salidas</a>
			<a href="" name="check-in-all" class="btn green disabled fright"><i class="fa fa-arrow-down"></i>Ingresos</a>
		</div>
		<br>
		<table border="1" rules="rows" id="items">
			<thead>
				<tr>
					<td width="5%"><input type="checkbox" name="select-all" /></td>
					<td width="5%">ID</td>
					<td width="30%">Producto</td>
					<td width="10%">Depósito</td>
					<td width="10%">Stock</td>
					<td width="14%">Precio</td>
					<td width="14%">Precio Venta</td>
					<td width="10%">Imagen</td>
					<td width="15%">Acciones</td>
				</tr>
			</thead>
				
			<tbody>
				{% for item in items %}
					<tr data-type="element" data-id={{ item.id }}">
						<td><input type="checkbox" name="chbox" value="{{ item.id }}"</td>
						<td class="hover" data-type="id">{{ item.id }}</td>
						<td class="hover" data-type="name">{{ item.name }}</td>
						<td class="hover" data-type="cat">{{ item.deposito }}</td>
						<td>{{ item.qty }}</td> 
						<td>{{ item.price }}</td>
						<td>{{ item.price_venta }}</td>
						<td><img src="{% get_media_prefix %}{{ item.imagen }}" heigth='42'  width='42' /></td>
						<td>
							<a href="" name="c1" title="Ingreso"><i class="fa fa-arrow-down"></i></a>
							<a href="" name="c2" title="Salida"><i class="fa fa-arrow-up"></i></a>
							{% if datos.0 == 1 or datos.0 == 2 %}
								<a href="{% url 'ab_item' item.id %}" name="c3" title="Editar"><i class="fa fa-pencil"></i></a>
							{% endif %}
							{% if datos.0 == 1 or datos.0 == 2 or datos.0 == 3 %}
								<a href="{% url 'log' item.id %}" name="c4" title="Log"><i class="fa fa-file-text-o"></i></a>
							{% endif %}
							{% if datos.0 == 1 or datos.0 == 2 %}
								<a href="{% url 'eliminar_item' item.id %}" name="c5" title="Eliminar"><i class="fa fa-close"></i></a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<?php } ?>
			
		</div>

		<div class="clear" style="margin-bottom:40px;"></div>
		<div class="border" style="margin-bottom:30px;"></div>
	</div>
{% endblock %}
</body>
</html>